@import url("https://fonts.googleapis.com/css2?family=Maitree:wght@200;400;700&family=Poiret+One&display=swap");

body {
    background-color: #dbf8f2;
    font-family: "Maitree", "Open Sans", sans-serif;
    padding: 5px 25px;
    font-size: 18px;
    margin: 0;
    color: rgb(12, 3, 3);
}

.header, 
.footer {
    background-color: crimson;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-items: center;
    padding-left: 30px;
}

footer {
    display: grid;
    grid-template-rows: 50% 50%;
}

.footer-text {
    grid-row: 0,1;
}

.last-modified {
    /* grid-row: 1; */
}