@import url("https://fonts.googleapis.com/css2?family=Maitree:wght@200;400;700&family=Poiret+One&display=swap");

body {
  background-color: #0A0F0E;
  font-family: "Maitree", "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: rgb(185, 185, 185);
}
